@model IEnumerable<BomboProyect.Models.Ventas>

@{
    ViewBag.Title = "Index";
}

<h2>Ventas</h2>

<p>
    @Html.ActionLink("Registrar Nueva Venta", "Create", null, null, new { @class = "btn btn-primary" })
</p>
<table class="table" style="padding-left: 25px; padding-right: 25px">
    <tr>
        <th>
            Fecha Venta
        </th>
        <th>
            Hora Venta
        </th>
        <th>
            Estatus
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraVenta)
        </td>
        <td>
            @if (item.Status == 1)
            {
               <div style="background-color:green; width:70px; text-align:center; border-radius:10px;">Activo</div>              }
            else {<div style="background-color:red; width:70px; text-align:center;">Inactivo</div>}
        </td>
        <td>            
            <a href="/Ventas/Details/@item.VentaId" class="btn btn-info">Detalle de Venta</a>
        </td>
    </tr>
}

</table>
