@model IEnumerable<BomboProyect.Models.Ventas>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="mt-5">Ventas</h2>

    <div class="mt-3">
        <a href="@Url.Action("Create", "Ventas")" class="btn btn-secondary">
            <i class="fa-solid fa-plus"></i>
            <span>Nueva Venta</span>
        </a>
    </div>

    <table class="table mt-2">
        <thead class="table-dark">
            <tr>
                <th>
                    Fecha Venta
                </th>
                <th>
                    Hora Venta
                </th>
                <th>
                    Estatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraVenta)
                    </td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <p><span class="badge bg-success">Activo</span></p>
                        }
                        else
                        {
                            <p><span class="badge bg-danger">Inactivo</span></p>
                        }
                    </td>
                    <td>
                        <div>
                            <a href="@Url.Action("Details", "Ventas", new { id = item.VentaId })" class="btn btn-warning">
                                <i class="fa-solid fa-info"></i>
                                <span class="ms-2">Detalle de Venta</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
