@{
    ViewBag.Title = "About";
}

<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-12 align-items-center">
                <center>
                    <div class="col-lg-12 mb-5 mb-lg-1">

                        <div>
                            <h2>Acerca de nosotros</h2>
                        </div>

                        <hr />

                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <br />
                                    <br />
                                    <br />
                                    <br />

                                    <h3>¿Quiénes somos?</h3>
                                </div>
                                <div class="col-8">
                                    <p>
                                        Nuestra empresa ha estado dedicada a la elaboración de
                                        productos de panadería desde su apertura en el 2020.
                                        Desde el primer día entendimos que el éxito depende de
                                        ofrecer el máximo gusto, la calidad y la artesanía,
                                        todo lo anterior nos aseguramos de transmitirlo en
                                        nuestros productos, porque son más naturales y con el
                                        respeto que tenemos a nuestros clientes, le ofrecemos
                                        también el mejor servicio.
                                        <br />
                                        <br />
                                        Tenemos un criterio de excelencia profesional y creatividad,
                                        cuidamos de cada detalle, la higiene y el sabor fresco de
                                        cada ingrediente, esforzándonos cada día, con toda la
                                        variedad de panes para obtener el resultado final:
                                        <h6>"La fidelidad permanente de nuestros clientes".</h6>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <img src="~/app/img/mision.png" width="150" height="150" />
                                </div>
                                <div class="col-4">
                                    <img src="~/app/img/vision.png" width="150" height="150" />
                                </div>
                                <div class="col-4">
                                    <img src="~/app/img/valores.png" width="150" height="150" />
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <br />
                                    <h4>Misión</h4>
                                </div>
                                <div class="col-4">
                                    <br />
                                    <h4>Visión</h4>
                                </div>
                                <div class="col-4">
                                    <br />
                                    <h4>Valores</h4>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <p class="justify-content-around">
                                        Ofrecer a nuestros consumidores un producto
                                        elaborado con la más alta calidad utilizando los mejores
                                        insumos y condiciones de higiene, preocupándonos
                                        por el crecimiento y bienestar de nuestro personal para
                                        proporcionar el mejor servicio, logrando obtener su
                                        confianza.
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p class="justify-content-around">
                                        Nuestro propósito es ser una de las mejores panaderías 
                                        ofreciendo lo mejor que tenemos para nuestros clientes. 
                                        Así cumpliendo con una de las empresas de la mejor calidad, 
                                        honestidad y responsables junto con trabajadores eficaces 
                                        de sacar la empresa a delante.
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p>
                                        • Honestidad al ofrecer productos de calidad.
                                        <br />
                                        • Eficiencia al entregar un producto de calidad.
                                        <br />
                                        • Respeto hacia nuestros clientes y empleados.
                                        <br />
                                        • Confianza en nuestros proyectos y cambios.
                                        <br />
                                        • Responsabilidad al cumplir con el trabajo.
                                        <br />
                                        • Compromiso en las actividades.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
